    <div class="mid-col-container">
        <div id="content" class="inner">
            <s>
            </s>
            <script type="application/ld+json">{
          "@context": "http://schema.org",
          "@type": "BlogPosting",
          "mainEntityOfPage": "https://imququ.com/post/archives.html",
          "headline": "归档",
          "datePublished": "2017-03-29T14:08:14+08:00",
          "dateModified": "2017-03-29T14:08:14+08:00",
          "author": {
            "@type": "Person",
            "name": "JerryQu"
          },
          "publisher": {
            "@type": "Organization",
            "name": "JerryQu 的小站",
            "logo": {
              "@type": "ImageObject",
              "url": "https://st.imququ.com/static/img/blog/banner.png",
              "width": 600,
              "height": 60
            }
          },
          "image": {
            "@type": "ImageObject",
            "url": "https://st.imququ.com/static/img/blog/ququ_avatar.jpg",
            "width": 256,
            "height": 256
          }
        }</script>
            <article class="post post-252">
                <h1 class="title">归档</h1>
                <div class="entry-content">
                    <div id="toc-container">
                        <div id="toc">
                            <p>
                                <strong>年份列表</strong></p>
                            <ul>
                                <li>
                                    <a href="#toc-0">2017 年</a></li>
                                <li>
                                    <a href="#toc-1">2016 年</a></li>
                                <li>
                                    <a href="#toc-2">2015 年</a></li>
                                <li>
                                    <a href="#toc-3">2014 年</a></li>
                                <li>
                                    <a href="#toc-4">2013 年</a></li>
                                <li>
                                    <a href="#toc-5">2012 年</a></li>
                                <li>
                                    <a href="#toc-6">2011 年</a></li>
                                <li>
                                    <a href="#toc-7">2009 年</a></li>
                                <li>
                                    <a href="#toc-8">2008 年</a></li>
                            </ul>
                        </div>
                    </div>
                    <p>本博客最早一篇文章创建于 2008 年 7 月，当时我从自己开发的 ASP 博客系统迁到 WordPress，之前的文章未迁移。2013 年 3 月，又从 WordPress 迁到自己开发的 Python 博客系统（
                        <a href="https://imququ.com/post/new-blog.html">详情</a>），文章迁移了一部分。2014 年初再次改用 NodeJS 重新开发了博客系统（
                        <a href="https://imququ.com/post/ququblog.html">详情</a>），数据完全保留，使用至今。</p>
                    <p>我有使用 Kindle 阅读的习惯，从 Paperwhite 到 Voyage 到 Oasis，我都第一时间入手。几年下来，我在亚马逊和图灵社区购买并读过的 Kindle 版书籍加起来也有几十本了。如果你也喜欢用 Kindle 阅读，
                        <a href="https://imququ.com/post/for-kindle.html">请下载本站合辑 Kindle 版</a>。</p>
                    <h3 id="toc-0">2017 年</h3>
                    <ul>
                        <li>
                            <a href="/post/reduce-ttfb-on-thinkjs3-website.html">如何为 ThinkJS 3 网站优化 TTFB 时间</a>&nbsp;
                            <span class="date">(Nov 28, 2017)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/enable-tls-1-3.html">本博客开始支持 TLS 1.3</a>&nbsp;
                            <span class="date">(Aug 06, 2017)</span></li>
                    </ul>
                    <h3 id="toc-1">2016 年</h3>
                    <ul>
                        <li>
                            <a href="/post/troubleshooting-https.html">HTTPS 常见部署问题及解决方案</a>&nbsp;
                            <span class="date">(Dec 12, 2016)</span></li>
                        <li>
                            <a href="/post/use-verynginx.html">开始使用 VeryNginx</a>&nbsp;
                            <span class="date">(Dec 10, 2016)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/new-video-policies-for-ios10.html">iOS 10 Safari 视频播放新政策</a>&nbsp;
                            <span class="date">(Oct 07, 2016)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/ecc-certificate.html">开始使用 ECC 证书</a>&nbsp;
                            <span class="date">(Aug 27, 2016)</span></li>
                        <li>
                            <a href="/post/http-alt-svc.html">HTTP Alternative Services 介绍</a>&nbsp;
                            <span class="date">(Aug 21, 2016)</span></li>
                        <li>
                            <a href="/post/nginx-http2-post-bug.html">谈谈 Nginx 的 HTTP/2 POST Bug</a>&nbsp;
                            <span class="date">(Aug 20, 2016)</span></li>
                        <li>
                            <a href="/post/use-docker.html">开始使用 Docker</a>&nbsp;
                            <span class="date">(Aug 14, 2016)</span></li>
                        <li>
                            <a href="/post/wpo-of-mobile-web-2.html">移动 WEB 通用优化策略介绍（二）</a>&nbsp;
                            <span class="date">(Aug 14, 2016)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/first-half-of-2016-blog-analytics.html">博客统计报告（2016 上半年）</a>&nbsp;
                            <span class="date">(May 27, 2016)</span></li>
                        <li>
                            <a href="/post/enable-alpn-asap.html">为什么我们应该尽快支持 ALPN？</a>&nbsp;
                            <span class="date">(May 18, 2016)</span></li>
                        <li>
                            <a href="/post/moving-to-https-asap.html">为什么我们应该尽快升级到 HTTPS？</a>&nbsp;
                            <span class="date">(May 16, 2016)</span></li>
                        <li>
                            <a href="/post/sth-about-switch-to-https-3.html">关于启用 HTTPS 的一些经验分享（三）</a>&nbsp;
                            <span class="date">(May 05, 2016)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/how-to-compress-http-request-body.html">如何压缩 HTTP 请求正文</a>&nbsp;
                            <span class="date">(Apr 18, 2016)</span></li>
                        <li>
                            <a href="/post/content-encoding-header-in-http.html">HTTP 协议中的 Content-Encoding</a>&nbsp;
                            <span class="date">(Apr 17, 2016)</span></li>
                        <li>
                            <a href="/post/document-scrollingelement-in-chrome.html">Chrome 中 scrollingElement 的变化</a>&nbsp;
                            <span class="date">(Apr 16, 2016)</span></li>
                        <li>
                            <a href="/post/wpo-of-mobile-web-1.html">移动 WEB 通用优化策略介绍（一）</a>&nbsp;
                            <span class="date">(Apr 16, 2016)</span></li>
                        <li>
                            <a href="/post/protocol-negotiation-in-http2.html">谈谈 HTTP/2 的协议协商机制</a>&nbsp;
                            <span class="date">(Apr 14, 2016)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/how-to-decrypt-https.html">三种解密 HTTPS 流量的方法介绍</a>&nbsp;
                            <span class="date">(Mar 28, 2016)</span></li>
                        <li>
                            <a href="/post/my-nginx-conf.html">本博客 Nginx 配置之完整篇</a>&nbsp;
                            <span class="date">(Mar 21, 2016)</span></li>
                        <li>
                            <a href="/post/why-can-not-turn-on-ocsp-stapling.html">从无法开启 OCSP Stapling 说起</a>&nbsp;
                            <span class="date">(Mar 13, 2016)</span></li>
                        <li>
                            <a href="/post/use-image-to-transfer-data.html">利用图片传输数据的另类思路</a>&nbsp;
                            <span class="date">(Mar 10, 2016)</span></li>
                        <li>
                            <a href="/post/intro-to-nghttp2.html">使用 nghttp2 调试 HTTP/2 流量</a>&nbsp;
                            <span class="date">(Mar 07, 2016)</span></li>
                        <li>
                            <a href="/post/http-public-key-pinning.html">HTTP Public Key Pinning 介绍</a>&nbsp;
                            <span class="date">(Mar 05, 2016)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/certificate-transparency.html">Certificate Transparency 那些事</a>&nbsp;
                            <span class="date">(Feb 03, 2016)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/why-tls-handshake-failed-with-http2-enabled.html">从启用 HTTP/2 导致网站无法访问说起</a>&nbsp;
                            <span class="date">(Jan 17, 2016)</span></li>
                        <li>
                            <a href="/post/elasticsearch.html">使用 Elasticsearch 实现博客站内搜索</a>&nbsp;
                            <span class="date">(Jan 05, 2016)</span></li>
                    </ul>
                    <h3 id="toc-2">2015 年</h3>
                    <ul>
                        <li>
                            <a href="/post/letsencrypt-certificate.html">Let's Encrypt，免费好用的 HTTPS 证书</a>&nbsp;
                            <span class="date">(Dec 25, 2015)</span></li>
                        <li>
                            <a href="/post/sth-about-switch-to-https-2.html">关于启用 HTTPS 的一些经验分享（二）</a>&nbsp;
                            <span class="date">(Dec 22, 2015)</span></li>
                        <li>
                            <a href="/post/why-nginx-disable-gzip-in-http10.html">从 Nginx 默认不压缩 HTTP/1.0 说起</a>&nbsp;
                            <span class="date">(Dec 15, 2015)</span></li>
                        <li>
                            <a href="/post/sth-about-switch-to-https.html">关于启用 HTTPS 的一些经验分享（一）</a>&nbsp;
                            <span class="date">(Dec 04, 2015)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/domain-public-suffix-list.html">域名小知识：Public Suffix List</a>&nbsp;
                            <span class="date">(Nov 28, 2015)</span></li>
                        <li>
                            <a href="/post/tunnel-to-localhost-base-on-http2.html">基于 HTTP/2 的 WEB 内网穿透实现</a>&nbsp;
                            <span class="date">(Nov 23, 2015)</span></li>
                        <li>
                            <a href="/post/http2-new-opportunities-and-challenges.html">HTTP/2：新的机遇与挑战</a>&nbsp;
                            <span class="date">(Nov 22, 2015)</span></li>
                        <li>
                            <a href="/post/web-proxy-2.html">HTTP 代理原理及实现（二）</a>&nbsp;
                            <span class="date">(Nov 20, 2015)</span></li>
                        <li>
                            <a href="/post/web-proxy.html">HTTP 代理原理及实现（一）</a>&nbsp;
                            <span class="date">(Nov 20, 2015)</span></li>
                        <li>
                            <a href="/post/golomb-coded-sets.html">Golomb-coded sets 原理介绍</a>&nbsp;
                            <span class="date">(Nov 16, 2015)</span></li>
                        <li>
                            <a href="/post/optimize-tls-handshake.html">TLS 握手优化详解</a>&nbsp;
                            <span class="date">(Nov 08, 2015)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/thinkjs-2.html">ThinkJS 2.0，带你超越梦想一起飞</a>&nbsp;
                            <span class="date">(Oct 30, 2015)</span></li>
                        <li>
                            <a href="/post/header-compression-in-http2.html">HTTP/2 头部压缩技术介绍</a>&nbsp;
                            <span class="date">(Oct 25, 2015)</span></li>
                        <li>
                            <a href="/post/http2-traffic-in-wireshark.html">使用 Wireshark 调试 HTTP/2 流量</a>&nbsp;
                            <span class="date">(Oct 24, 2015)</span></li>
                        <li>
                            <a href="/post/cache-aware-server-push-in-h2o.html">H2O 中的 Cache-Aware Server Push 简介</a>&nbsp;
                            <span class="date">(Oct 21, 2015)</span></li>
                        <li>
                            <a href="/post/optimize-ssl-ciphers-with-boringssl.html">使用 BoringSSL 优化 HTTPS 加密算法选择</a>&nbsp;
                            <span class="date">(Oct 15, 2015)</span></li>
                        <li>
                            <a href="/post/back-to-disqus.html">Disqus，我又回来了！</a>&nbsp;
                            <span class="date">(Oct 14, 2015)</span></li>
                        <li>
                            <a href="/post/amp-project.html">AMP，来自 Google 的移动页面优化方案</a>&nbsp;
                            <span class="date">(Oct 10, 2015)</span></li>
                        <li>
                            <a href="/post/the-security-of-window-opener-location.html">window.opener.location 安全风险讨论</a>&nbsp;
                            <span class="date">(Oct 09, 2015)</span></li>
                        <li>
                            <a href="/post/content-security-policy-level-2.html">Content Security Policy Level 2 介绍</a>&nbsp;
                            <span class="date">(Oct 05, 2015)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/duoshuo-and-https.html">让多说评论框完美支持 HTTPS</a>&nbsp;
                            <span class="date">(Sep 27, 2015)</span></li>
                        <li>
                            <a href="/post/enhance-security-for-ls-code.html">使用 SRI 增强 localStorage 代码安全</a>&nbsp;
                            <span class="date">(Sep 26, 2015)</span></li>
                        <li>
                            <a href="/post/subresource-integrity.html">Subresource Integrity 介绍</a>&nbsp;
                            <span class="date">(Sep 23, 2015)</span></li>
                        <li>
                            <a href="/post/code2png-encoder.html">像素化你的代码</a>&nbsp;
                            <span class="date">(Sep 19, 2015)</span></li>
                        <li>
                            <a href="/post/datauri-and-404.html">诡异问题排查之「DataURI 引发的血案」</a>&nbsp;
                            <span class="date">(Sep 12, 2015)</span></li>
                        <li>
                            <a href="/post/summary-of-my-blog-optimization.html">本博客零散优化点汇总</a>&nbsp;
                            <span class="date">(Sep 12, 2015)</span></li>
                        <li>
                            <a href="/post/http-client-hints.html">HTTP Client Hints 介绍</a>&nbsp;
                            <span class="date">(Sep 10, 2015)</span></li>
                        <li>
                            <a href="/post/about-miitbeian.html">关于本站备案那点事</a>&nbsp;
                            <span class="date">(Sep 03, 2015)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/http2-resource.html">HTTP/2 资料汇总</a>&nbsp;
                            <span class="date">(Aug 31, 2015)</span></li>
                        <li>
                            <a href="/post/vagrantup.html">开始使用 Vagrant</a>&nbsp;
                            <span class="date">(Aug 23, 2015)</span></li>
                        <li>
                            <a href="/post/intro-to-bugtags.html">Bugtags, 让移动应用测试变得更轻松</a>&nbsp;
                            <span class="date">(Aug 17, 2015)</span></li>
                        <li>
                            <a href="/post/nginx-http2-patch.html">Nginx 开始支持 HTTP/2 了</a>&nbsp;
                            <span class="date">(Aug 16, 2015)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/server-push-in-http2.html">HTTP/2 中的 Server Push 讨论</a>&nbsp;
                            <span class="date">(Jun 16, 2015)</span></li>
                        <li>
                            <a href="/post/thinkjs-behavior.html">ThinkJS 中的 Behavior 介绍</a>&nbsp;
                            <span class="date">(Jun 11, 2015)</span></li>
                        <li>
                            <a href="/post/use-http2-now.html">开始使用 HTTP/2</a>&nbsp;
                            <span class="date">(Jun 07, 2015)</span></li>
                        <li>
                            <a href="/post/network-protocol-in-browser.html">浏览器中常见网络协议介绍</a>&nbsp;
                            <span class="date">(Jun 03, 2015)</span></li>
                        <li>
                            <a href="/post/http2-and-wpo-3.html">HTTP/2 与 WEB 性能优化（三）</a>&nbsp;
                            <span class="date">(Jun 01, 2015)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/about-two-factor-authentication.html">使用两步验证提高账号安全性</a>&nbsp;
                            <span class="date">(May 31, 2015)</span></li>
                        <li>
                            <a href="/post/my-nginx-conf-for-wpo.html">本博客 Nginx 配置之性能篇</a>&nbsp;
                            <span class="date">(May 27, 2015)</span></li>
                        <li>
                            <a href="/post/my-nginx-conf-for-security.html">本博客 Nginx 配置之安全篇</a>&nbsp;
                            <span class="date">(May 24, 2015)</span></li>
                        <li>
                            <a href="/post/http2-and-wpo-2.html">HTTP/2 与 WEB 性能优化（二）</a>&nbsp;
                            <span class="date">(May 22, 2015)</span></li>
                        <li>
                            <a href="/post/http2-and-wpo-1.html">HTTP/2 与 WEB 性能优化（一）</a>&nbsp;
                            <span class="date">(May 19, 2015)</span></li>
                        <li>
                            <a href="/post/thinkjs-async-coding.html">改进 ThinkJS 的异步编程方式</a>&nbsp;
                            <span class="date">(May 15, 2015)</span></li>
                        <li>
                            <a href="/post/referrer-policy-2.html">Referrer Policy 介绍「续」</a>&nbsp;
                            <span class="date">(May 11, 2015)</span></li>
                        <li>
                            <a href="/post/bandwagon-vps-and-basicly-usage.html">9.9 美元一年的 VPS 及配置指南</a>&nbsp;
                            <span class="date">(May 11, 2015)</span></li>
                        <li>
                            <a href="/post/referrer-or-referer.html">Referrer 还是 Referer？</a>&nbsp;
                            <span class="date">(May 09, 2015)</span></li>
                        <li>
                            <a href="/post/referrer-policy.html">Referrer Policy 介绍</a>&nbsp;
                            <span class="date">(May 06, 2015)</span></li>
                        <li>
                            <a href="/post/transfer-encoding-header-in-http.html">HTTP 协议中的 Transfer-Encoding</a>&nbsp;
                            <span class="date">(May 04, 2015)</span></li>
                        <li>
                            <a href="/post/x-forwarded-for-header-in-http.html">HTTP 请求头中的 X-Forwarded-For</a>&nbsp;
                            <span class="date">(May 02, 2015)</span></li>
                        <li>
                            <a href="/post/html5-live-player-3.html">HTML5 视频直播（三）</a>&nbsp;
                            <span class="date">(May 01, 2015)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/html5-live-player-2.html">HTML5 视频直播（二）</a>&nbsp;
                            <span class="date">(Apr 25, 2015)</span></li>
                        <li>
                            <a href="/post/html5-live-player-1.html">HTML5 视频直播（一）</a>&nbsp;
                            <span class="date">(Apr 24, 2015)</span></li>
                        <li>
                            <a href="/post/multiple-ssh-keys-with-different-hosts.html">针对不同主机使用不同 SSH Key</a>&nbsp;
                            <span class="date">(Apr 19, 2015)</span></li>
                        <li>
                            <a href="/post/self-hosted-ngrokd.html">搭建 ngrok 服务实现内网穿透</a>&nbsp;
                            <span class="date">(Apr 19, 2015)</span></li>
                    </ul>
                    <h3 id="toc-3">2014 年</h3>
                    <ul>
                        <li>
                            <a href="/post/shake-photo-in-little-js.html">1.5kb 代码让图片抖起来</a>&nbsp;
                            <span class="date">(Aug 11, 2014)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/mobile-web-and-js-timer.html">移动 Web 与 JavaScript 定时器</a>&nbsp;
                            <span class="date">(Mar 27, 2014)</span></li>
                        <li>
                            <a href="/post/chrome-and-web-fonts.html">Chrome 和 Web Fonts 二三事</a>&nbsp;
                            <span class="date">(Mar 24, 2014)</span></li>
                        <li>
                            <a href="/post/spdy-3-1-headers.html">SPDY 3.1 中的请求 / 响应头</a>&nbsp;
                            <span class="date">(Mar 15, 2014)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/devtool-in-chrome32.html">Chrome 32 开发者工具的几个变化</a>&nbsp;
                            <span class="date">(Jan 19, 2014)</span></li>
                        <li>
                            <a href="/post/vary-header-in-http.html">HTTP 协议中 Vary 的一些研究</a>&nbsp;
                            <span class="date">(Jan 01, 2014)</span></li>
                    </ul>
                    <h3 id="toc-4">2013 年</h3>
                    <ul>
                        <li>
                            <a href="/post/webkit-load-css-issues.html">Webkit 异步加载 CSS 的奇怪现象</a>&nbsp;
                            <span class="date">(Dec 25, 2013)</span></li>
                        <li>
                            <a href="/post/native-tri-state-checkbox.html">小成本实现部分选中的复选框</a>&nbsp;
                            <span class="date">(Dec 22, 2013)</span></li>
                        <li>
                            <a href="/post/devicepixelratio-and-border-width.html">devicePixelRatio = 1.5 引发的问题</a>&nbsp;
                            <span class="date">(Dec 20, 2013)</span></li>
                        <li>
                            <a href="/post/animated-scrolling-in-web.html">页面动画滚动的交互细节</a>&nbsp;
                            <span class="date">(Dec 08, 2013)</span></li>
                        <li>
                            <a href="/post/bom-and-javascript-trim.html">BOM 和 JavaScript 中的 trim</a>&nbsp;
                            <span class="date">(Dec 07, 2013)</span></li>
                        <li>
                            <a href="/post/amd-simplified-commonjs-wrapping.html">AMD 的 CommonJS wrapping</a>&nbsp;
                            <span class="date">(Dec 05, 2013)</span></li>
                        <li>
                            <a href="/post/chrome-scrollbar-freeze.html">Chrome 滚动条冻结现象</a>&nbsp;
                            <span class="date">(Dec 02, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/genymotion.html">Genymotion：超赞的安卓虚拟机</a>&nbsp;
                            <span class="date">(Nov 28, 2013)</span></li>
                        <li>
                            <a href="/post/two-little-details-of-affix.html">两个常见的 Affix 交互问题</a>&nbsp;
                            <span class="date">(Nov 25, 2013)</span></li>
                        <li>
                            <a href="/post/use-markdown-on-my-blog.html">开始用 Markdown 写博客</a>&nbsp;
                            <span class="date">(Nov 24, 2013)</span></li>
                        <li>
                            <a href="/post/switch-to-https.html">本博客正式启用 HTTPS</a>&nbsp;
                            <span class="date">(Nov 22, 2013)</span></li>
                        <li>
                            <a href="/post/a-bug-with-chrome31.html">Chrome 31 的一个 Bug（已修复）</a>&nbsp;
                            <span class="date">(Nov 14, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/my-dev-env-in-macos.html">打造 Mac 下的完美开发环境</a>&nbsp;
                            <span class="date">(Oct 09, 2013)</span></li>
                        <li>
                            <a href="/post/a-bug-with-safari-in-ios7.html">iOS7 中 Safari 的一个离奇 Bug</a>&nbsp;
                            <span class="date">(Oct 08, 2013)</span></li>
                        <li>
                            <a href="/post/a-downloader-with-filesystem-api-2.html">FileSystem API 实现文件下载器 2</a>&nbsp;
                            <span class="date">(Oct 01, 2013)</span></li>
                        <li>
                            <a href="/post/a-downloader-with-filesystem-api.html">用 FileSystem API 实现文件下载器</a>&nbsp;
                            <span class="date">(Oct 01, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/ios-none-freeze-timer.html">不会被 iOS 停掉的网页定时器</a>&nbsp;
                            <span class="date">(Sep 25, 2013)</span></li>
                        <li>
                            <a href="/post/set-map-weakmap-in-es6.html">ES6 中的 Set、Map 和 WeakMap</a>&nbsp;
                            <span class="date">(Sep 23, 2013)</span></li>
                        <li>
                            <a href="/post/generator-function-in-es6.html">ES6 中的生成器函数介绍</a>&nbsp;
                            <span class="date">(Sep 20, 2013)</span></li>
                        <li>
                            <a href="/post/how-to-auto-rotate-photo-in-css.html">image-orientation: 让图片自动旋转</a>&nbsp;
                            <span class="date">(Sep 15, 2013)</span></li>
                        <li>
                            <a href="/post/use-fiddler-on-macos.html">如何在 Mac 下使用 Fiddler</a>&nbsp;
                            <span class="date">(Sep 13, 2013)</span></li>
                        <li>
                            <a href="/post/arrow-function-in-es6.html">尝试 ES6 中的箭头函数</a>&nbsp;
                            <span class="date">(Sep 11, 2013)</span></li>
                        <li>
                            <a href="/post/typography-of-my-blog.html">中英文混排及中文引号</a>&nbsp;
                            <span class="date">(Sep 10, 2013)</span></li>
                        <li>
                            <a href="/post/browser-mode-and-document-mode-in-ie-2.html">IE 的浏览器模式和文本模式（二）</a>&nbsp;
                            <span class="date">(Sep 07, 2013)</span></li>
                        <li>
                            <a href="/post/timeline-in-fiddler.html">看懂 Fiddler 的瀑布图</a>&nbsp;
                            <span class="date">(Sep 04, 2013)</span></li>
                        <li>
                            <a href="/post/my-online-collection-service.html">打造自己的在线收藏服务</a>&nbsp;
                            <span class="date">(Sep 01, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/firebug-1-12.html">firebug1.12 更新</a>&nbsp;
                            <span class="date">(Aug 29, 2013)</span></li>
                        <li>
                            <a href="/post/the-proxy-connection-header-in-http-request.html">Http 请求头中的 Proxy-Connection</a>&nbsp;
                            <span class="date">(Aug 26, 2013)</span></li>
                        <li>
                            <a href="/post/four-ways-to-post-data-in-http.html">四种常见的 POST 提交数据方式</a>&nbsp;
                            <span class="date">(Aug 21, 2013)</span></li>
                        <li>
                            <a href="/post/use-canvas-as-background-image.html">使用 Canvas 绘制背景图</a>&nbsp;
                            <span class="date">(Aug 18, 2013)</span></li>
                        <li>
                            <a href="/post/about-browser-devtools-console.html">[小Tip]用好浏览器的控制台</a>&nbsp;
                            <span class="date">(Aug 11, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/web-security-and-response-header.html">一些安全相关的HTTP响应头</a>&nbsp;
                            <span class="date">(Jul 23, 2013)</span></li>
                        <li>
                            <a href="/post/content-security-policy-reference.html">Content Security Policy 介绍</a>&nbsp;
                            <span class="date">(Jul 22, 2013)</span></li>
                        <li>
                            <a href="/post/host-only-cookie.html">你所不知道的HostOnly Cookie</a>&nbsp;
                            <span class="date">(Jul 10, 2013)</span></li>
                        <li>
                            <a href="/post/qiwu-weekly-for-kindle.html">《奇舞周刊》有 Kindle 版合辑啦</a>&nbsp;
                            <span class="date">(Jul 03, 2013)</span></li>
                        <li>
                            <a href="/post/something-about-tab.html">关于提高 Tab 切换速度的思考</a>&nbsp;
                            <span class="date">(Jul 01, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/cocos2d-html5-labelttf.html">cocos2d-html5 文字自动换行</a>&nbsp;
                            <span class="date">(Jun 25, 2013)</span></li>
                        <li>
                            <a href="/post/promises-when-js.html">异步编程：When.js快速上手</a>&nbsp;
                            <span class="date">(Jun 23, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/web-search-workflow-for-alfred2.html">Web Search Workflow for Alfred</a>&nbsp;
                            <span class="date">(May 09, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/getattribute-and-getattributenode.html">getAttribute和getAttributeNode</a>&nbsp;
                            <span class="date">(Apr 25, 2013)</span></li>
                        <li>
                            <a href="/post/p20130420.html">页面变灰二三事</a>&nbsp;
                            <span class="date">(Apr 22, 2013)</span></li>
                        <li>
                            <a href="/post/ie-bugs-with-attribute.html">[小Tip]给元素命名时容易踩的坑</a>&nbsp;
                            <span class="date">(Apr 06, 2013)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/my-alfred2-workflows.html">Alfred2工作流推荐</a>&nbsp;
                            <span class="date">(Mar 28, 2013)</span></li>
                        <li>
                            <a href="/post/alfred2-workflow-for-qwrap-doc.html">用Alfred2快速搜索QWrap文档</a>&nbsp;
                            <span class="date">(Mar 27, 2013)</span></li>
                        <li>
                            <a href="/post/chrome-extensions-and-user-privacy.html">Chrome扩展与用户隐私</a>&nbsp;
                            <span class="date">(Mar 20, 2013)</span></li>
                        <li>
                            <a href="/post/sth-about-google-reader.html">Google Reader二三事</a>&nbsp;
                            <span class="date">(Mar 19, 2013)</span></li>
                    </ul>
                    <h3 id="toc-5">2012 年</h3>
                    <ul>
                        <li>
                            <a href="/post/what-is-this.html">[彩蛋]这是什么？</a>&nbsp;
                            <span class="date">(Dec 13, 2012)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/js-animation.html">JavaScript动画漫谈</a>&nbsp;
                            <span class="date">(Nov 15, 2012)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/security-problem-in-flash-uploader.html">第三方Flash组件带来的安全问题</a>&nbsp;
                            <span class="date">(Jul 22, 2012)</span></li>
                        <li>
                            <a href="/post/change-hash-in-frameset-cause-reload.html">[小Tip]Webkit下设置hash的一个坑</a>&nbsp;
                            <span class="date">(Jul 19, 2012)</span></li>
                        <li>
                            <a href="/post/firebug-1-10.html">firebug1.10更新</a>&nbsp;
                            <span class="date">(Jul 16, 2012)</span></li>
                        <li>
                            <a href="/post/event-order-in-ie9.html">[小Tip]IE9中focus执行顺序差异</a>&nbsp;
                            <span class="date">(Jul 10, 2012)</span></li>
                        <li>
                            <a href="/post/use-berserkjs-in-mac.html">在Mac下使用berserkJS</a>&nbsp;
                            <span class="date">(Jul 10, 2012)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/how-to-use-cookie-better.html">如何更好的使用Cookie</a>&nbsp;
                            <span class="date">(Jun 19, 2012)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/adblockplus-and-fed.html">[小Tip]ABP扩展对前端开发的影响</a>&nbsp;
                            <span class="date">(Mar 29, 2012)</span></li>
                        <li>
                            <a href="/post/remote-debugging-with-weinre.html">用Weinre远程调试移动网页</a>&nbsp;
                            <span class="date">(Mar 14, 2012)</span></li>
                        <li>
                            <a href="/post/document-domain-bug-in-webkit.html">Webkit下最无敌的跨大域方案</a>&nbsp;
                            <span class="date">(Mar 02, 2012)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/view-sublime-text-2-file-in-browser.html">让Sublime Text2支持浏览器中预览</a>&nbsp;
                            <span class="date">(Feb 20, 2012)</span></li>
                        <li>
                            <a href="/post/how-to-auto-rotate-photo-in-js.html">图片自动旋转的前端实现方案</a>&nbsp;
                            <span class="date">(Feb 15, 2012)</span></li>
                        <li>
                            <a href="/post/browser-mode-and-document-mode-in-ie.html">关于浏览器模式和文本模式的困惑</a>&nbsp;
                            <span class="date">(Feb 08, 2012)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/the-bug-of-ie-matrix-filter.html">[小Tip]IE矩阵滤镜Matrix一个大坑</a>&nbsp;
                            <span class="date">(Jan 13, 2012)</span></li>
                        <li>
                            <a href="/post/how-to-get-dns-time-in-browser.html">如何获取浏览器的DNS解析时间</a>&nbsp;
                            <span class="date">(Jan 07, 2012)</span></li>
                        <li>
                            <a href="/post/browser-doctor.html">一个浏览器诊断小工具</a>&nbsp;
                            <span class="date">(Jan 01, 2012)</span></li>
                    </ul>
                    <h3 id="toc-6">2011 年</h3>
                    <ul>
                        <li>
                            <a href="/post/parseint-in-javascript.html">[小Tip]JavaScript转整数杯具两则</a>&nbsp;
                            <span class="date">(Dec 30, 2011)</span></li>
                        <li>
                            <a href="/post/i-love-sublime-text-2.html">Sublime Text2：超赞的现代编辑器</a>&nbsp;
                            <span class="date">(Dec 23, 2011)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/download-link-file-issue-with-chrome.html">[小Tip]下载.lnk遇到的怪事</a>&nbsp;
                            <span class="date">(Nov 29, 2011)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/qwrap-customization.html">QWrap简介之核心库定制</a>&nbsp;
                            <span class="date">(Sep 28, 2011)</span></li>
                        <li>
                            <a href="/post/we-enjoy-days.html">恭喜月影结婚啦</a>&nbsp;
                            <span class="date">(Sep 23, 2011)</span></li>
                        <li>
                            <a href="/post/cross-origin-resource-sharing.html">也谈跨域数据交互解决方案</a>&nbsp;
                            <span class="date">(Sep 12, 2011)</span></li>
                        <li>
                            <a href="/post/how-facebook-use-noscript.html">FaceBook的NoScript策略</a>&nbsp;
                            <span class="date">(Sep 10, 2011)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/about-codereview.html">关于前端代码Review的一些思考</a>&nbsp;
                            <span class="date">(Aug 27, 2011)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/use-opera-mobile-debug-mobile-web.html">用Opera Mobile调试手机版网页</a>&nbsp;
                            <span class="date">(Jul 19, 2011)</span></li>
                        <li>
                            <a href="/post/a-album-layout-solution.html">一种效果还不错的图片排列策略</a>&nbsp;
                            <span class="date">(Jul 12, 2011)</span></li>
                        <li>
                            <a href="/post/qwrap-component.html">QWrap简介之组件编写</a>&nbsp;
                            <span class="date">(Jul 06, 2011)</span></li>
                        <li>
                            <a href="/post/ie10-platform-preview-2.html">IE10 Platform Preview 2</a>&nbsp;
                            <span class="date">(Jul 04, 2011)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/epexplorer.html">[自己动手]让Editplus更好用</a>&nbsp;
                            <span class="date">(Jun 26, 2011)</span></li>
                        <li>
                            <a href="/post/how-to-use-flash-cookie-2.html">如何使用Flash来实现本地存储.续</a>&nbsp;
                            <span class="date">(Jun 23, 2011)</span></li>
                        <li>
                            <a href="/post/request-animation-frame.html">使用浏览器原生函数优化动画</a>&nbsp;
                            <span class="date">(Jun 20, 2011)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/css-naked-day.html">CSS裸奔节2011</a>&nbsp;
                            <span class="date">(Apr 08, 2011)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/deploy-my-django-blog.html">Django博客系统部署小结</a>&nbsp;
                            <span class="date">(Mar 26, 2011)</span></li>
                        <li>
                            <a href="/post/ie9-opera11-and-firefox4.html">IE9、Opera11.10和firefox4</a>&nbsp;
                            <span class="date">(Mar 21, 2011)</span></li>
                        <li>
                            <a href="/post/sth-about-new-domain.html">换域名的一些善后工作</a>&nbsp;
                            <span class="date">(Mar 18, 2011)</span></li>
                        <li>
                            <a href="/post/wpo.html">两个激进的前端优化手段</a>&nbsp;
                            <span class="date">(Mar 16, 2011)</span></li>
                        <li>
                            <a href="/post/pingback-and-xmlrpc.html">Pingback和Xml-RPC</a>&nbsp;
                            <span class="date">(Mar 14, 2011)</span></li>
                        <li>
                            <a href="/post/django-blog-dev.html">Django博客系统开发小结</a>&nbsp;
                            <span class="date">(Mar 13, 2011)</span></li>
                        <li>
                            <a href="/post/new-blog.html">又换新博客了~</a>&nbsp;
                            <span class="date">(Mar 12, 2011)</span></li>
                    </ul>
                    <h3 id="toc-7">2009 年</h3>
                    <ul>
                        <li>
                            <a href="/post/use-gears-geolocation.html">使用Gears获取当前地理位置</a>&nbsp;
                            <span class="date">(Sep 05, 2009)</span></li>
                        <li>
                            <a href="/post/use-flash-to-calc-average-color.html">用flash计算图片平均颜色</a>&nbsp;
                            <span class="date">(Sep 02, 2009)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/flash-and-clipboard-2.html">跨浏览器的“复制到剪贴板”.续</a>&nbsp;
                            <span class="date">(Aug 25, 2009)</span></li>
                        <li>
                            <a href="/post/flash-note-1.html">Javascript与Flash通信全解析</a>&nbsp;
                            <span class="date">(Aug 24, 2009)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/remove-flash-context-menu.html">轻松去掉web中flash右键菜单</a>&nbsp;
                            <span class="date">(Apr 07, 2009)</span></li>
                        <li>
                            <a href="/post/js-callback-name.html">使用js callback的一个小技巧</a>&nbsp;
                            <span class="date">(Apr 03, 2009)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/flash-security-update.html">Flash10安全策略更新</a>&nbsp;
                            <span class="date">(Jan 30, 2009)</span></li>
                        <li>
                            <a href="/post/use-fiddler-to-debug-web.html">用Fiddler来调试web应用</a>&nbsp;
                            <span class="date">(Jan 11, 2009)</span></li>
                    </ul>
                    <h3 id="toc-8">2008 年</h3>
                    <ul>
                        <li>
                            <a href="/post/how-to-use-response-header.html">利用服务器返回header来传输数据</a>&nbsp;
                            <span class="date">(Oct 05, 2008)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/maxthon-issue.html">Maxthon引发的系列问题</a>&nbsp;
                            <span class="date">(Sep 20, 2008)</span></li>
                        <li>
                            <a href="/post/how-to-use-flash-sharedobject.html">如何使用Flash来实现本地存储</a>&nbsp;
                            <span class="date">(Sep 12, 2008)</span></li>
                        <li>
                            <a href="/post/script-attribute.html">一种很帅的JS代码书写方式</a>&nbsp;
                            <span class="date">(Sep 09, 2008)</span></li>
                        <li>
                            <a href="/post/how-to-control-browser-history.html">如何控制浏览器的历史记录</a>&nbsp;
                            <span class="date">(Sep 05, 2008)</span></li>
                        <li>
                            <a href="/post/go-back-in-browser.html">不同浏览器处理后退的一些异同</a>&nbsp;
                            <span class="date">(Sep 03, 2008)</span></li>
                        <li>
                            <a href="/post/attribute.html">IE与Firefox处理Attribute的几点差异</a>&nbsp;
                            <span class="date">(Sep 02, 2008)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/opera-contextmenu.html">Opera下自定义右键菜单的研究</a>&nbsp;
                            <span class="date">(Aug 10, 2008)</span></li>
                        <li>
                            <a href="/post/flash-and-clipboard.html">跨浏览器的“复制到剪贴板”</a>&nbsp;
                            <span class="date">(Aug 09, 2008)</span></li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/post/keydown-keyup-keypress.html">慎用keyup事件</a>&nbsp;
                            <span class="date">(Jul 28, 2008)</span></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
